.block {
    display: flex;
    justify-content: space-between;
    margin: 51px 0 40px 0;
    height: auto;
}

@media (max-width: 711px) {
    .block {
        flex-direction: column;
    }
}

.card {
    display: flex;
    padding: 16px 20px 20px 20px;
    width: calc(50% - 10px);
    min-height: 216px;
    background: #FFFFFF;
    border-radius: 8px;
    justify-content: space-between;
}

.card__block {
    display: flex;
    align-items: flex-end;
}